.category {
    & .name {
        padding: 10px;
        border-bottom: 1px solid #dddddd;
        cursor: pointer;

        &:hover {
            background-color: #ececec;
        }

        &.selected {
            background-color: #dddddd;
        }
    }
}
